{% extends "base_user.html" %}

{% load static %}

{% block title %}
<title>User Panel</title>
{% endblock %}

{% block static_cssFile %}
<link rel="stylesheet" href="{% static 'css/interface.css' %}">
{% endblock %}

{% block static_jsFile %}
<script src=""></script>
{% endblock %}

{% block bodyContent %}
<main>
    <div class="container">
        <h2>Welcome to BookHive</h2>
        <p>Explore our collection of books and start your reading journey today!</p>
        <p>The user can explore all the books and borrow them if available, search for a specific book, view its details, he can also view his borrowed kist and return specific book if he don't need it any more.</p>
        <p>Take a look on the navigation bar and see what you can do!</p>
        <button onclick="location.href ='search/'" class="button">Find books!</button>
    </div>
</main>
{% endblock %}